:root {
  --main-black: #202026;
  --main-yellow: #fecb00;
}

html {
  margin: 0 auto;
  max-width: 1100px;
  width: 100%;
  font-family: "Poppins", sans-serif;
  background-color: var(--main-black);
  scroll-behavior: smooth;
}

body {
  margin: 0;
  box-shadow: var(--main-yellow) 0px 0px 40px;
}

/* Header */

.header {
  display: flex;
}

img {
  max-height: 370px;
  height: 100%;
}

.header-right-side {
  background-color: var(--main-black);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav {
  background-color: var(--main-yellow);
  max-height: 40px;
  height: 100%;
}

.nav-list {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  height: 100%;
  width: 100%;
  padding-left: 0px;
}

.nav-list li a {
  text-decoration: none;
  color: var(--main-black);
  transition: 1s;
  padding: 2px 10px;
  border-radius: 20px;
  margin: 0 5px;
}

.nav-list li a:hover {
  transition: 1s;
  position: relative;
  background-color: whitesmoke;
  right: 3px;
}

.name-job-header {
  background-color: var(--main-yellow);
  max-height: 130px;
  height: 100%;
  margin-top: 25px;
  text-transform: uppercase;
  font-size: 22px;
  text-align: end;
  padding-right: 12px;
}

h1 {
  font-size: 36px;
  margin: 0;
  margin-top: 25px;
}

.name-job-header p {
  margin: 0;
}

/* Aside bar */

main {
  display: flex;
  background-color: whitesmoke;
}

.main {
  /* border-bottom-left-radius: 25px; */
}

.aside {
  background-color: var(--main-black);
  color: var(--main-yellow);
  max-width: 362px;
  min-width: 362px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}

.hard-skills h2,
.soft-skills h2 {
  font-variant: small-caps;
  font-size: 35px;
}

.hard-skills ul,
.soft-skills ul {
  list-style: square;
  font-size: 28px;
  line-height: 125%;
}

.contacts h2 {
  color: white;
  opacity: 85%;
}

.contacts-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100%;
}

.contacts p {
  font-size: 20px;
}

.contacts span {
  opacity: 50%;
}

.contacts-icon {
  display: flex;
}

.contacts-icon a {
  width: 35px;
  margin-right: 27px;
  transition: 1s;
}

.contacts-icon a:hover {
  transform: rotate(360deg);
  transition: 1s;
}

.about h2,
.education h2,
.languages h2,
.code-example h2,
.projects h2 {
  font-size: 30px;
  text-align: end;
  text-transform: uppercase;
}

.about {
  margin: 40px;
}

.about p {
  font-size: 26px;
}

.education {
  margin: 40px;
}

.education p {
  font-size: 26px;
  text-align: center;
  line-height: 25%;
  font-weight: 700;
}

.education p:nth-of-type(even) {
  font-size: 18px;
  opacity: 75%;
  margin-bottom: 60px;
  font-weight: 400;
}

.languages {
  margin: 40px;
}

.languages ul {
  font-size: 24px;
  line-height: 175%;
}
.languages span {
  font-weight: 700;
}

.code-example {
  margin: 40px;
}

.code-example pre {
  background-color: #202026;
  opacity: 95%;
  color: var(--main-yellow);
  border-radius: 30px;
  padding: 15px;
  font-size: 22px;
}

.projects {
  margin: 40px;
}

.projects-container {
  display: flex;
  justify-content: center;
}

.projects-img {
  max-width: 250px;
  height: auto;
  box-shadow: var(--main-yellow) 0px 0px 25px;
  transition: 1s;
}

.projects-img:hover {
  box-shadow: var(--main-black) 0px 0px 25px;
  transition: 1s;
  transform: scale(115%);
}

.projects-content {
  font-size: 22px;
  text-align: center;
  background-color: var(--main-yellow);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  margin: 40px;
  max-width: 250px;
  width: 100%;
}

.projects-content p:last-child {
  font-weight: 700;
  font-size: 18px;
}

.projects-content p {
  margin: 25px;
}

footer {
  height: 120px;
  display: flex;

  background-color: var(--main-black);
  color: var(--main-yellow);
}

.footer-left {
  background-color: var(--main-yellow);
  border-top-right-radius: 25px;
  min-width: 362px;
  display: flex;
  justify-content: center;
}

.footer-left img {
  height: 70%;
  margin-top: 15px;
}

.footer-left img:hover {
  animation: shake 0.2s ease infinite;
}

@keyframes shake {
  0% {
    transform: translateX(-0.5px);
  }

  50% {
    transform: translateX(1px);
  }

  100% {
    transform: translate(-0.5px);
  }
}

.footer-right {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-right: 15px;
}

.footer-promo-rs {
  transform: rotate(90deg);
  line-height: 90%;
  text-align: center;
  font-size: 18px;
  padding-top: 65px;
  padding-left: 15px;
}

.footer-promo-rs p {
  margin: 0;
}
.footer-promo-rs p:first-child {
  font-weight: 700;
}

.footer-git {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-git img {
  height: 80px;
  margin-left: 10px;
}

.footer-git > img {
  height: 40px;
  opacity: 75%;
  animation: pulse 3s ease infinite;
}

@keyframes pulse {
  0% {
    transform: translateX(-20px);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(-20px);
  }
}

.footer-git a {
  transition: 0.5s;
}

.footer-git a:hover {
  transform: scale(110%);
  transition: 0.5s;
}

.footer-creater {
  font-size: 22px;
  display: flex;
  align-items: end;
  margin: 10px;
}
